{% extends "main" %}
{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-white font-weight-bold">
                    Importation des données
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="data_definition" class="col-md-4 col-form-label">
                                        Définition: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <select 
                                            name="data_definition" 
                                            required="true"
                                            class="form-control form-control-sm select2js"
                                        >
                                            {% for p in definitions %}
                                                <option {% if param.data_definition == p.id %}selected{% endif %} value="{{ p.id }}">{{ p.name }} ({{ p.extension }})</option>
                                            {% endfor %}
                                        </select>
                                        <span class="ferror">{{ errors.data_definition }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="file" class="col-md-4 col-form-label">
                                        Fichier: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input 
                                            type="file" 
                                            name="file" 
                                            required="true"
                                            placeholder="Veuillez choisir le fichier"
                                            class="form-control form-control-sm"
                                        />
                                        <span class="ferror">{{ errors.file }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="description" class="col-md-4 col-form-label">
                                        Description:
                                    </label>
                                    <div class="col-md-8">
                                        <textarea 
                                            name="description" 
                                            placeholder="Entrer la description"
                                            class="form-control form-control-sm">{{ param.description }}</textarea>
                                        <span class="ferror">{{ errors.description }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="offset-1 col pr-2">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                <a href="{% route_url data_definition_import_list %}" class="btn btn-dark">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}