{% extends "main" %}
{% block body %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-white font-weight-bold">
                    Enregistrement d'un attribut pour [{{ definition.name }}]
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="field" class="col-md-4 col-form-label">
                                        Attribut: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input 
                                            type="text" 
                                            name="field" 
                                            value="{{ param.field }}" 
                                            required="true" 
                                            placeholder="Entrer le nom de l'attribut"
                                            class="form-control form-control-sm"
                                        />
                                        <span class="ferror">{{ errors.field }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label">
                                        Description: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input 
                                            type="text" 
                                            name="name" 
                                            value="{{ param.name }}" 
                                            required="true" 
                                            placeholder="Entrer la description"
                                            class="form-control form-control-sm"
                                        />
                                        <span class="ferror">{{ errors.name }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="column" class="col-md-4 col-form-label">
                                        Colonne:
                                    </label>
                                    <div class="col-md-8">
                                        <input 
                                            type="text" 
                                            name="column" 
                                            value="{{ param.column }}" 
                                            placeholder="Entrer la colonne (vide si même que attribut)"
                                            class="form-control form-control-sm"
                                        />
                                        <span class="ferror">{{ errors.column }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="transformer" class="col-md-4 col-form-label">
                                        Formattage: 
                                    </label>
                                    <div class="col-md-8">
                                        <select 
                                            name="transformer" 
                                            class="form-control form-control-sm select2js"
                                        >
                                            <option value="">--Aucun--</option>
                                            {% for p in data_definition_field_transformer %}
                                                <option {% if param.transformer == p.0 %}selected{% endif %} value="{{ p.0 }}">{{ p.1 }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="ferror">{{ errors.transformer }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="parameters" class="col-md-4 col-form-label">
                                        Paramètres (format):
                                    </label>
                                    <div class="col-md-8">
                                        <input 
                                            type="text" 
                                            name="parameters" 
                                            value="{{ param.parameters }}" 
                                            placeholder="Entrer les paramètres pour le formattage"
                                            class="form-control form-control-sm"
                                        />
                                        <span class="ferror">{{ errors.parameters }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="position" class="col-md-4 col-form-label">
                                        Position: <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input 
                                            type="number" 
                                            name="position" 
                                            min="1"
                                            value="{{ param.position }}" 
                                            required="true" 
                                            placeholder="Entrer la position du champ"
                                            class="form-control form-control-sm"
                                        />
                                        <span class="ferror">{{ errors.position }}</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="default_value" class="col-md-4 col-form-label">
                                        Valeur par défaut:
                                    </label>
                                    <div class="col-md-8">
                                        <input 
                                            type="text" 
                                            name="default_value" 
                                            value="{{ param.default_value }}" 
                                            placeholder="Entrer la valeur par défaut"
                                            class="form-control form-control-sm"
                                        />
                                        <span class="ferror">{{ errors.default_value }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="offset-1 col pr-2">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                <a href="{% route_url data_definition_detail id:definition.id %}" class="btn btn-dark">Annuler</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}