{% extends "main" %}
{% block body %}
    <div class="card mb-4">
        <div class="card-header bg-white font-weight-bold page-header">
            Détail définition [{{ definition.name }}]
        </div>
        <div class="card-body">
            <div class='row'>
                <div class='col-md-6'>
                    <div class='table-responsive'>
                        <table class="detail table table-sm table-bordered">
                            <tr>
                                <td>ID</td>
                                <td><b>{{ definition.id }}</b></td>
                            </tr>
                            <tr>
                                <td>Nom</td>
                                <td><b>{{ definition.name }}</b></td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td><b>{{ definition.description }}</b></td>
                            </tr>
                            <tr>
                                <td>Direction</td>
                                <td><b>{{ direction[definition.direction] }}</b></td>
                            </tr>
                            <tr>
                                <td>Modèle (entité)</td>
                                <td><b>{{ data_definition_repository[definition.model]|default:definition.model }}</b></td>
                            </tr>
                            <tr>
                                <td>Source</td>
                                <td><b>{{ data_definition_extractor[definition.extractor] }}</b></td>
                            </tr>
                            <tr>
                                <td>Destination</td>
                                <td><b>{{ data_definition_loader[definition.loader] }}</b></td>
                            </tr>
                            <tr>
                                <td>Formattage</td>
                                <td><b>{{ data_definition_transformer[definition.transformer] }}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='table-responsive'>
                        <table class="detail table table-sm table-bordered">
                            <tr>
                                <td>Contient les entêtes</td>
                                <td><b>{{ status[definition.header] }}</b></td>
                            </tr>
                            <tr>
                                <td>Séparateur des champs</td>
                                <td><b>{{ definition.field_separator|raw }}</b></td>
                            </tr>
                            <tr>
                                <td>Délimiteur des textes</td>
                                <td><b>{{ definition.text_delimiter|raw  }}</b></td>
                            </tr>
                            <tr>
                                <td>Caractère d'échappement</td>
                                <td><b>{{ definition.escape_char|raw  }}</b></td>
                            </tr>
                            <tr>
                                <td>Actif</td>
                                <td><b>{{ status[definition.status] }}</b></td>
                            </tr>
                            <tr>
                                <td>Date de création</td>
                                <td><b>{{ definition.created_at|date:"d/m/Y H:i:s" }}</b></td>
                            </tr>
                            <tr>
                                <td>Date de mise à jour</td>
                                <td><b>{{ definition.updated_at|date:"d/m/Y H:i:s" }}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class='col-md-12'>
                    <hr />
                    <div class="flex-row">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="fields" data-toggle="tab" href="#fields-content" role="tab" aria-controls="fields" aria-selected="true">Attributs (champs)</a>
                            <a class="nav-item nav-link" id="demo" data-toggle="tab" href="#demo-content" role="tab" aria-controls="demo" aria-selected="true">Demo</a>
                        </div>
                    </div>
                    <div class="tab-content pt-2" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="fields-content" role="tabpanel" aria-labelledby="fields">
                            {% if fields.size > 0 %}
                                <div class="table-responsive">
                                    <table class="table table-hover table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Attribut</th>
                                                <th>Description</th>
                                                <th>Position</th>
                                                <th>Valeur par défaut</th>
                                                <th>Parent</th>
                                                <th>Date de création</th>
                                                <th>Date de mise à jour</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for a in fields %}
                                                <tr>
                                                    <td><a class="btn btn-xs btn-link" href="{% route_url data_definition_field_edit id:a.id %}">{{ a.field }}</a></td>
                                                    <td>{{ a.name }}</td>
                                                    <td>{{ a.position }}</td>
                                                    <td>{{ a.default_value }}</td>
                                                    <td>{{ a.parent.name }}</td>
                                                    <td>{{ a.created_at|date:"d/m/Y H:i:s" }}</td>
                                                    <td>{{ a.updated_at|date:"d/m/Y H:i:s" }}</td>
                                                    <td  class="actions">
                                                        <a href="{% route_url data_definition_field_delete id:a.id %}" class="btn btn-xs btn-icon btn-pill btn-danger" data-text-confirm="Etes-vous sûr de vouloir supprimer cet élément ?">
                                                            <i class="fa fa-fw fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="alert alert-info">Aucune donnée disponible à afficher</p>
                            {% endif %}
                        </div>
                         <div class="tab-pane fade" id="demo-content" role="tabpanel" aria-labelledby="demo">
                             demo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}